<div class="drink-card">
  <div class="drink-card-header">
    {{drink_name}}
  </div>
  <div class="card-body">
    <p>
      Description:
      {{description}}
    </p>
    <p>
      Ingredients:
      {{ingredients}}        
    </p>
  </div>
</div>