<section class="container">
  <h3 class="gallery-name">{{drinks.name}}</h3>
  <section class="flex-row justify-center">
    {{#each drinks.paintings as |painting|}}
    {{> painting-details}}
    {{/each}}
  </section>
</section>

{{!--
<div class="drink-card">
  <div class="drink-card-header">
    {{drink_name}}
  </div>
  <div class="card-body">
    <p>
      Description:
      {{description}}
    </p>
    <p>
      Ingredients:
      {{ingredients}}        
    </p>
  </div>
</div>

{{!--
// get one drink
router.get('/drink/:num', async (req, res) => {
  return res.render('drink', drinks[req.params.num - 1]);
}); 
--}}